// Color palette
$green: #7AB55C;
$grey: #7B7B7B;
$purple-light: #5c6ac4;
$purple: #4a56a5;
$purple-dark: #000639;
$red: #C23628;

// Styling the application
body {
  background: $purple-dark;

  .container {
    padding: 2rem 0rem;
    min-height: 100vh;

    .title {
      max-width: 50rem;
      color: white;
    }

    .line {
      margin: 1.5rem 0rem;
      background: $green;
      width: 2.5rem;
      height: 3px;
      border-radius: 1.5px;
      display: block;
    }

    .subtitle {
      color: white;
      font-size: 24px;
    }

    .form-control {
      padding: 0.75rem;
      border: 1px solid #CCCCCC;

      &:active,
      &:focus {
        border: 1px solid $purple-light;
      }
    }

    #error {
      padding-top: 0.5rem;
      display: block;
      color: $red;
      font-weight: bold;
    }

    button {
      margin-top: 1rem;
      background: $purple-light;
      font-weight: bold;
      color: white;
      border: 0px solid transparent;
      cursor: hand;
      cursor: pointer;
      padding: 0.75rem 1rem;

      &:hover,
      &:active,
      &:focus {
        background: $purple;
      }
    }

    footer {
      position: absolute;
      bottom: 1rem;
      color: white;
      text-align: center;
      text-decoration: underline;
      color: white;
      width: 100%;

      p {
        margin-bottom: 0;
        cursor: hand;
        cursor: pointer;
      }
    }
  }
}
